#root{
    width:600px;
    border:2px solid black;
}
/* Todoinput */
#ToDo{
    width: 600px;
    padding:10px 10px;
    height: 70px; 
} 
#ToDoList{
    float: left;
    width: 100%;
    line-height: 50px;
    color:black;
    font-size: 24px;
}
#Input{
    height: 30px; 
    width: 50%;
    margin-top: 12px;
    text-indent: 10px;
    border: 2px solid black;
}

/* Todoing */
h1{
    position: relative;
    display: block;
}
span{
    position: absolute;
    top: 2px;
    right: 5px;
    display: inline-block;
    padding: 0 5px;
    height: 20px;
    line-height: 22px;
    text-align: center;
    color: black;
    font-size: 14px;
}
ol{
    list-style:none;
    padding: 0;
}
li{
    height: 32px;
    line-height: 32px;
    background: #fff;
    position: relative;
    margin-bottom: 10px;
    padding: 0 45px;
}
li input{
    position: absolute;
    top: 2px;
    left: 10px;
    width: 22px;
    height: 22px;
}
li button{
    width: 60px;
    height: 30px;
    position: absolute;
    top: 2px;
    right: 5px;
    display: inline-block;
    background: #fff;
    line-height: 14px;
    text-align: center;
    color: #f00;
}